.container,
.imageStyles {
  height: calc(100vh - 60px);
  background-color: var(--background-grey);
  padding: 14px 8px 24px 20px;
}

@media (min-width: 768px) {
  .container,
  .imageStyles {
    height: calc(100vh - 68px);
  }
}

.container.light {
  background-color: var(--background-light);
}

.container.violet {
  background-color: #ecedfc;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .container,
  .imageStyles {
    padding: 26px 18px 32px 32px;
  }
}

@media (min-width: 1440px) {
  .container,
  .imageStyles {
    padding: 14px 24px 8px 24px;
  }
}

.imageStyles {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
