.priorityList {
    margin-bottom: 16px;
}

.priorityDataWrap {
  gap: 8px;
  align-items: center;
  color: rgba(255, 255, 255, 0.5);
  font-family: Poppins;
  font-size: 14px;
  display: flex;
  /* margin-left: 6px; */
}

.priorityDataWrap:hover {
  color: rgba(0, 0, 0, 0.1);
}

.circle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-right: 8px;
}

.circle.without {
  background-color: gray;
}

.circle.low {
  background-color: #8fa1d0;
}

.circle.medium {
  background-color: #e09cb5;
}

.circle.high {
  background-color: #bedbb0;
}

/* .mainText {
  font-weight: 500;
  font-size: 14px;
  color: var(--text-white);
  margin-bottom: 14px;
  text-align: left;
}

.mainText.light,
.mainText.violet {
  color: var(--text-black);
} */

.mainText {
  display: block;
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 4px;
  text-align: left;
}

.mainText.violet {
  color: rgba(22, 22, 22, 0.5);
}

.mainText.light {
  color: rgba(22, 22, 22, 0.5);
}

.text {
  font-weight: 400;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
  margin-bottom: 6px;
  text-align: left;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text:hover,
.text:focus {
  color: var(--text-white);
}

.text.violet {
  color: rgba(22, 22, 22, 0.5);
}

.text.light {
  color: rgba(22, 22, 22, 0.5);
}

.textChecked {
    font-weight: 400;
    font-size: 12px;
    color: #fff;
    margin-bottom: 6px;
    text-align: left;
    letter-spacing: -0.02em;
    transition: all 500ms cubic-bezier(0, 0, 1, 1);
}
.textChecked.violet {
  color: #161616;
}
.textChecked.light {
  color: #161616;
}
.container {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}
.active {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-right: 8px;
  border: 4px double #161616;
  background: gray;
}

.active.violet {
  border-color: var(--light-modal);
}

.active.light {
  border-color: var(--light-modal);
}
.active.without {
  background-color: gray;
}
.active.low {
  background-color: #8fa1d0;
}
.active.medium {
  background-color: #e09cb5;
}
.active.high {
  background-color: #bedbb0;
}
* {
  box-sizing: border-box;
}

.modalHeader {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 24px;
  text-align: left;
  color: var(--text-white);
}

.modalHeader.light {
  color: var(--text-black);
}

.modalHeader.violet {
  color: var(--text-black);
}

.title {
  margin-bottom: 24px;
  border: 1px solid var(--accent-light);
  border-radius: 8px;
  width: 100%;
  height: 49px;
  box-shadow: 0 4px 16px 0 rgba(22, 22, 22, 0.08);
  background: var(--background-grey);
  opacity: 0.4;
  padding: 18px 14px;
  color: var(--text-white);
  font-weight: 400;
  font-size: 14px;
}

.title.light {
  background: none;
  color: var(--text-black);
}

.title.violet {
  background: none;
  border: 1px solid var(--accent-violet-dark);
  color: var(--text-black);
}

.title:not(:placeholder-shown) {
  opacity: 1;
}

.title::placeholder {
  font-size: 14px;
  color: var(--text-white);
}

.title.light::placeholder {
  color: var(--text-black);
}

.title.violet::placeholder {
  color: var(--text-black);
}

/* .description */

.description {
  margin-bottom: 24px;
  border: 1px solid var(--accent-light);
  border-radius: 8px;
  width: 100%;
  height: 154px;
  box-shadow: 0 4px 16px 0 rgba(22, 22, 22, 0.08);
  background: var(--background-grey);
  opacity: 0.4;
  padding: 18px 14px;
  color: var(--text-white);
  font-weight: 400;
  font-size: 14px;
}

.description.light {
  background: none;
  color: var(--text-black);
}

.description.violet {
  background: none;
  border: 1px solid var(--accent-violet-dark);
  color: var(--text-black);
}

.description:not(:placeholder-shown) {
  opacity: 1;
}

.description::placeholder {
  font-size: 14px;
  color: var(--text-white);
}

.description.light::placeholder {
  color: var(--text-black);
}

.description.violet::placeholder {
  color: var(--text-black);
}

.addBtn {
  border-radius: 8px;
  width: 100%;
  height: 49px;
  background: var(--accent-light);
  color: var(--text-black);
  font-weight: 500;
  font-size: 14px;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  transition: all 500ms cubic-bezier(0, 0, 1, 1);
}

.addBtn.violet {
  background: var(--accent-violet-dark);
  color: var(--text-white);
}

.addBtn:hover,
.addBtn:focus {
  background: var(--accent-dark);
}

.addBtn.violet:hover,
.addBtn.violet:focus {
  background: #7b7ede;
}

.iconWrap {
  width: 28px;
  height: 28px;
  background: #161616;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 500ms cubic-bezier(0, 0, 1, 1);
}

.violet .iconWrap {
  background: var(--white-btn);
}

.iconPlus {
  stroke: var(--text-white);
}

.violet .iconPlus {
  stroke: var(--text-black);
}

/* .text {
  display: block;
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 4px;
  text-align: left;
}

.text.violet {
  color: rgba(22, 22, 22, 0.5);
}

.text.light {
  color: rgba(22, 22, 22, 0.5);
} */

.date {
  width: fit-content;
  max-width: 100%;
  height: 21px;
  font-weight: 500;
  font-size: 14px;
  color: #bedbb0;
  background: none;
  border: none;
  cursor: pointer;
}

.date:focus-visible {
  outline: none;
}

.date::placeholder {
  color: #bedbb0;
  font-weight: 500;
  font-size: 14px;
}

.date.violet {
  color: #5255bc;
}

.date.violet::placeholder {
  color: #5255bc;
}

.dateWrap {
  display: inline-flex;
  margin-bottom: 40px;
}

.dropdownIconWrap {
  margin-left: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dropdownIcon {
  width: 12px;
  height: 12px;
  fill: none;
  stroke: #bedbb0;
}

.dropdownIcon.violet {
  stroke: #5255bc;
}

.dropdownIcon.light {
  stroke: #bedbb0;
}



/* ================== CALENDAR STYLES =================== */

:global(.react-datepicker-popper) {
  left: 33px !important;
  top: 4px !important;
}

.calendarStyles:global(.react-datepicker) {
  font-family: 'Poppins';
  font-size: 14px;
  letter-spacing: -0.02em;
  line-height: 129%;
  font-weight: 400;
  background-color: var(--background-grey);
  padding: 17px;
  border: 1px solid var(--accent-light);
}

.calendarStyles.light:global(.react-datepicker) {
  background-color: var(--background-white);
  border: 1px solid var(--accent-light);
}

.calendarStyles.violet:global(.react-datepicker) {
  background-color: var(--text-white);
  border: 1px solid var(--accent-violet-dark);
}

.calendarStyles :global(.react-datepicker__header) {
  background-color: inherit;
  border: 0;
  padding: 0;
}

.calendarStyles :global(.react-datepicker__month) {
  margin: 0;
}

.calendarStyles :global(.react-datepicker__current-month) {
  font-weight: 500;
  font-size: 16px;
  color: var(--text-white);
  padding-bottom: 14px;
}

.calendarStyles.light :global(.react-datepicker__current-month),
.calendarStyles.violet :global(.react-datepicker__current-month) {
  color: var(--text-black);
}

.calendarStyles :global(.react-datepicker__navigation) {
  top: 10px;
}

.calendarStyles :global(.react-datepicker__month-read-view--down-arrow) {
  border-color: var(--text-white);
}

.calendarStyles.light :global(.react-datepicker__month-read-view--down-arrow),
.calendarStyles.violet :global(.react-datepicker__month-read-view--down-arrow) {
  border-color: var(--text-black);
}

.calendarStyles :global(.react-datepicker__navigation-icon--previous::before) {
  right: -8px;
}

.calendarStyles :global(.react-datepicker__navigation:hover *::before),
.calendarStyles.light :global(.react-datepicker__navigation:hover *::before) {
  border-color: var(--accent-light);
}

.calendarStyles.violet :global(.react-datepicker__navigation:hover *::before) {
  border-color: var(--accent-violet-dark);
}

.calendarStyles :global(.react-datepicker__navigation-icon--next::before) {
  left: -8px;
}

.calendarStyles :global(.react-datepicker__day-names) {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 14px 0 0 0;
  margin-bottom: 8px;
}

.calendarStyles.light :global(.react-datepicker__day-names),
.calendarStyles.violet :global(.react-datepicker__day-names) {
  border-top: 1px solid rgba(22, 22, 22, 0.2);
}

.calendarStyles :global(.react-datepicker__day-name) {
  font-weight: 500;
  color: var(--text-grey);
  margin: 0 4px;
  width: 22px;
  height: 20px;
}

.calendarStyles.light :global(.react-datepicker__day-name),
.calendarStyles.violet :global(.react-datepicker__day-name) {
  color: var(--text-light-grey-05);
}

.calendarStyles :global(.react-datepicker__day) {
  color: var(--text-white);
  margin: 5px;
  line-height: 153%;
  width: 20px;
  height: 20px;
}

.calendarStyles.light :global(.react-datepicker__day),
.calendarStyles.violet :global(.react-datepicker__day) {
  color: var(--text-black);
}

.calendarStyles :global(.react-datepicker__day--disabled) {
  color: rgba(255, 255, 255, 0.2);
}

.calendarStyles.light :global(.react-datepicker__day--disabled),
.calendarStyles.violet :global(.react-datepicker__day--disabled) {
  color: rgba(22, 22, 22, 0.2);
}

.calendarStyles :global(.react-datepicker__day--keyboard-selected),
.calendarStyles :global(.react-datepicker__day--selected),
.calendarStyles :global(.react-datepicker__day:hover) {
  color: var(--background-grey);
  background-color: var(--accent-light);
  border-radius: 50%;
  font-weight: 500;
}

.calendarStyles.light :global(.react-datepicker__day--keyboard-selected),
.calendarStyles.light :global(.react-datepicker__day--selected),
.calendarStyles.light :global(.react-datepicker__day:hover) {
  color: var(--text-black);
  background-color: var(--accent-light);
}

.calendarStyles.violet :global(.react-datepicker__day--keyboard-selected),
.calendarStyles.violet :global(.react-datepicker__day--selected),
.calendarStyles.violet :global(.react-datepicker__day:hover) {
  color: var(--light-modal);
  background-color: var(--accent-violet-dark);
}

.calendarStyles :global(.react-datepicker__day--disabled:hover) {
  color: rgba(255, 255, 255, 0.2);
  background-color: inherit;
  font-weight: inherit;
}

.calendarStyles.light :global(.react-datepicker__day--disabled:hover),
.calendarStyles.violet :global(.react-datepicker__day--disabled:hover) {
  color: rgba(22, 22, 22, 0.2);
  background-color: inherit;
}

:global(svg.react-datepicker__triangle) {
  visibility: hidden;
}

:global(.react-datepicker__day--outside-month) {
  background-color: transparent;
  pointer-events: none;
  opacity: 0;
}
