.button {
  height: 56px;
  min-width: 280px;
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 8px;

  transition: all 500ms cubic-bezier(0, 0, 1, 1);
}

.button:hover,
.button:focus {
  background-color: #9dc888;
  scale: 1.1;
}

@media (min-width: 375px) {
  .button {
    width: 334px;
    min-width: 334px;
  }
}

.iconBox {
  width: 28px;
  height: 28px;
  background-color: white;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 500ms cubic-bezier(0, 0, 1, 1);
}

.button:hover .iconBox,
.button:focus .iconBox {
  background-color: #161616;
}

.icon {
  stroke: #121212;
  transition: stroke 500ms cubic-bezier(0, 0, 1, 1);
}

.button:hover .icon,
.button:focus .icon {
  stroke: #fff;
}

.text {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fff;
  transition: color 500ms cubic-bezier(0, 0, 1, 1);
}

button:hover .text,
.button:focus .text {
  color: #161616;
}
