.button {
  height: 56px;
  min-width: 280px;
  background-color: var(--background-black);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 8px;

  transition: all 500ms cubic-bezier(0, 0, 1, 1);
}

.button.light,
.button.violet {
  background-color: var(--text-white);
}

.button.dark:hover,
.button.dark:focus,
.button.light:hover,
.button.light:focus {
  background-color: var(--accent-dark);
  box-shadow: 12px 11px 14px -7px rgba(0, 0, 0, 0.63);
}

.button.violet:hover,
.button.violet:focus {
  background-color: #7b7ede;
  box-shadow: 12px 11px 14px -7px rgba(0, 0, 0, 0.63);
}

@media (min-width: 375px) {
  .button {
    width: 334px;
    min-width: 334px;
  }
}

.iconBox {
  width: 28px;
  height: 28px;
  background-color: var(--text-white);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 500ms cubic-bezier(0, 0, 1, 1);
}

.iconBox.light {
  background-color: var(--text-black);
}

.iconBox.violet {
  background-color: var(--accent-violet-dark);
}

.button:hover .iconBox,
.button:focus .iconBox {
  background-color: var(--text-black);
}

.button:hover .iconBox.light,
.button:focus .iconBox.light {
  background-color: var(--text-black);
}

.button:hover .iconBox.violet,
.button:focus .iconBox.violet {
  background-color: var(--text-white);
}

.icon {
  stroke: var(--background-black);
  transition: stroke 500ms cubic-bezier(0, 0, 1, 1);
}

.icon.light,
.icon.violet {
  stroke: var(--text-white);
}

.button:hover .icon,
.button:focus .icon {
  stroke: var(--text-white);
}

.button.dark:hover .icon,
.button.dark:focus .icon,
.button.light:hover .icon,
.button.light:focus .icon {
  stroke: var(--text-white);
}

.button.violet:hover .icon,
.button.violet:focus .icon {
  stroke: var(--text-black);
}

.text {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--text-white);
  transition: color 500ms cubic-bezier(0, 0, 1, 1);
}

.text.light,
.text.violet {
  color: var(--text-black);
}

.button:hover .text,
.button:focus .text {
  color: var(--text-black);
}

.button.dark:hover .text,
.button.dark:focus .text,
.button.light:hover .text,
.button.light:focus .text {
  color: var(--text-black);
}

.button.violet:hover .text,
.button.violet:focus .text {
  color: var(--text-white);
}

/* ==================== MODAL AddColumn ===================== */

.modalHeader {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 24px;
  text-align: left;
  color: var(--text-white);
}

.modalHeader.light,
.modalHeader.violet {
  color: var(--text-black);
}

.addBtn {
  border-radius: 8px;
  width: 100%;
  height: 49px;
  background: var(--accent-light);
  color: var(--text-black);
  font-weight: 500;
  font-size: 14px;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  transition: all 500ms cubic-bezier(0, 0, 1, 1);
}

.addBtn.violet {
  background: var(--accent-violet-dark);
  color: var(--text-white);
}

.addBtn:hover,
.addBtn:focus {
  background: var(--accent-dark);
}

.addBtn.violet:hover,
.addBtn.violet:focus {
  background: #7b7ede;
}

.iconWrap {
  width: 28px;
  height: 28px;
  background: var(--text-black);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.violet .iconWrap {
  background: var(--white-btn);
}

.iconPlus {
  stroke: var(--text-white);
}

.violet .iconPlus {
  stroke: var(--text-black);
}

.addTitle {
  margin-bottom: 24px;
  border: 1px solid var(--accent-light);
  border-radius: 8px;
  width: 100%;
  height: 49px;
  box-shadow: 0 4px 16px 0 rgba(22, 22, 22, 0.08);
  background: var(--background-grey);
  opacity: 0.4;
  padding: 18px 14px;
  color: var(--text-white);
  font-weight: 400;
  font-size: 14px;
}

.addTitle.light {
  background: none;
  color: var(--text-black);
}

.addTitle.violet {
  background: none;
  border: 1px solid var(--accent-violet-dark);
  color: var(--text-black);
}

.addTitle:not(:placeholder-shown) {
  opacity: 1;
}

.addTitle::placeholder {
  font-size: 14px;
  color: var(--text-white);
}

.addTitle.light::placeholder,
.addTitle.violet::placeholder {
  color: var(--text-black);
}
