.button {
  height: 56px;
  min-width: 280px;
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 8px;

  transition: all 500ms cubic-bezier(0, 0, 1, 1);
}

.button.dark {
  background-color: #121212;
}

.button.light,
.button.violet {
  background-color: #ffffff;
}

.button.dark:hover,
.button.dark:focus,
.button.light:hover,
.button.light:focus {
  background-color: #9dc888;
  box-shadow: 12px 11px 14px -7px rgba(0, 0, 0, 0.63);
}

.button.violet:hover,
.button.violet:focus {
  background-color: #7b7ede;
  box-shadow: 12px 11px 14px -7px rgba(0, 0, 0, 0.63);
}

@media (min-width: 375px) {
  .button {
    width: 334px;
    min-width: 334px;
  }
}

.iconBox {
  width: 28px;
  height: 28px;
  background-color: white;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 500ms cubic-bezier(0, 0, 1, 1);
}

.iconBox.dark {
  background-color: #ffffff;
}

.iconBox.light {
  background-color: #161616;
}

.iconBox.violet {
  background-color: #5255bc;
}

.button:hover .iconBox,
.button:focus .iconBox {
  background-color: #161616;
}

.button:hover .iconBox.dark,
.button:focus .iconBox.dark,
.button:hover .iconBox.light,
.button:focus .iconBox.light {
  background-color: #161616;
}

.button:hover .iconBox.violet,
.button:focus .iconBox.violet {
  background-color: #fff;
}

.icon {
  stroke: #121212;
  transition: stroke 500ms cubic-bezier(0, 0, 1, 1);
}

.icon.dark {
  stroke: #121212;
}

.icon.light,
.icon.violet {
  stroke: #fff;
}

.button:hover .icon,
.button:focus .icon {
  stroke: #fff;
}

.button.dark:hover .icon,
.button.dark:focus .icon,
.button.light:hover .icon,
.button.light:focus .icon {
  stroke: #fff;
}

.button.violet:hover .icon,
.button.violet:focus .icon {
  stroke: #161616;
}

.text {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fff;
  transition: color 500ms cubic-bezier(0, 0, 1, 1);
}

.text.dark {
  color: #fff;
}

.text.light,
.text.violet {
  color: #161616;
}

.button:hover .text,
.button:focus .text {
  color: #161616;
}

.button.dark:hover .text,
.button.dark:focus .text,
.button.light:hover .text,
.button.light:focus .text {
  color: #161616;
}

.button.violet:hover .text,
.button.violet:focus .text {
  color: #fff;
}

/* ==================== MODAL AddColumn ===================== */

.buttonAddColumn {
  width: 20px;
  height: 20px;
  background-color: black;
}
