.item {
  width: 100%;
  height: calc(100vh - 177px);
  display: flex;
  flex-direction: column;
}

.itemAdded {
  gap: 14px;
  justify-content: space-between;
}

@media (min-width: 375px) {
  .item {
    width: 350px;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .item {
    height: calc(100vh - 211px);
  }
}

@media (min-width: 1440px) {
  .item {
    /* height: calc(100vh - 154px); */
    height: calc(100vh - 161px);
  }
}

.columnCard {
  /* height: 56px; */
  /* max-width: 280px; */
  width: 280px;
  margin-bottom: 12px;
  padding: 18px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #121212;
  border-radius: 8px;
}

@media (min-width: 375px) {
  .columnCard {
    /* width: 334px; */
    width: 294px;
  }
}

.text {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fff;
}

.buttonsWrapper {
  display: flex;
  gap: 8px;
}

.button {
  height: 16px;
  fill: transparent;
}

.button:hover .icon,
.button:focus .icon {
  stroke: #bedbb0;
}

.icon {
  stroke: rgba(255, 255, 255, 0.5);
  transition: stroke 500ms cubic-bezier(0, 0, 1, 1);
}

.cardsWrap {
  /* ++++ */
  max-height: calc(100vh - 315px);
  width: 288px;
  display: grid;
  gap: 8px;

  /* padding-right: 4px; */

  overflow-y: auto;
}

@media (min-width: 375px) and (max-width: 767px) {
  .cardsWrap {
    width: 346px;
  }
}

@media (min-width: 768px) {
  .cardsWrap {
    width: 350px;
  }
}
@media (min-width: 768px) and (max-width: 1439px) {
  .cardsWrap {
    /* ++++ */
    max-height: calc(100vh - 349px);
  }
}

@media (min-width: 1440px) {
  .cardsWrap {
    /* ++++ */
    max-height: calc(100vh - 290px);
  }
}

.cardsWrap::-webkit-scrollbar {
  height: 0;
  width: 8px;
  border-radius: 12px;
  background-color: #161616;
}

.cardsWrap::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
}
