.item {
  width: 100%;
  gap: 14px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 375px) {
  .item {
    width: 335px;
  }
}

.columnCard {
  height: 56px;
  padding: 18px 20px;
  /* padding: 14px 20px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #121212;
  border-radius: 8px;
}

.text {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fff;
}

.buttonsWrapper {
  display: flex;
  gap: 8px;
}

.button {
  height: 16px;
  padding: 0;
  background-color: transparent;
  fill: transparent;
  border: none;
}

.icon {
  stroke: rgba(255, 255, 255, 0.5);
}
