.block {
  margin: 0 auto;
}

.block label {
  box-shadow: 0 4px 16px 0 rgba(22, 22, 22, 0.08);
  background: #1f1f1f;
  opacity: 0.4;
  border: 1px solid #bedbb0;
  border-radius: 8px;
  width: 287px;
  height: 49px;
}
.btnRegister {
  margin: 0 auto;
  cursor: pointer;
  display: block;
  border-radius: 8px;
  background: #bedbb0;
  max-width: 200px;
  min-width: 200px;
  height: 49px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #161616;
}
/* .btnRegister:hover {
    background-color: blue;
    color: white;
} */
.registerForm {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  background: #151515;
  padding-top: 35px;
}
.registerInput::placeholder {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fff;
  padding-left: 10px;
}
.registerInput + textarea {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fff;
  padding-left: 10px;
}
.registerInput {
  box-shadow: 0 4px 16px 0 rgba(22, 22, 22, 0.08);
  background: #1f1f1f;
  opacity: 0.4;
  border: 1px solid #bedbb0;
  border-radius: 8px;
  max-width: 200px;
  height: 49px;
}

@media screen and (min-width: 375px) {
  .btnRegister {
    min-width: 287px;
  }
  .registerInput {
    min-width: 287px;
  }
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1140px) {
}
