.section {
  width: 100%;
  padding-bottom: 36px;
  margin: 0 auto;
  overflow: auto;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .section {
    padding-bottom: 64px;
  }
}

@media (min-width: 1440px) {
  .section {
    padding-bottom: 28px;
  }
}

.section::-webkit-scrollbar {
  width: 0px;
  height: 12px;
  border-radius: 12px;
  background-color: var(--text-black);
  scroll-behavior: smooth;
}

.section.light::-webkit-scrollbar,
.section.violet::-webkit-scrollbar {
  background-color: var(--text-white);
}

.section::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
}

.section.light::-webkit-scrollbar-thumb {
  background-color: #e8e8e8;
}

.section.violet::-webkit-scrollbar-thumb {
  background-color: var(--accent-violet-light);
}

.activeSettingsWrapper {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  padding: 14px 20px;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .activeSettingsWrapper {
    margin-bottom: 12px;
  }
}

@media (min-width: 1440px) {
  .activeSettingsWrapper {
    margin-bottom: 12px;
  }
}

.title {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--text-white);
}

.title.light,
.title.violet {
  color: var(--text-black);
}

@media (min-width: 768px) {
  .title {
    font-size: 18px;
  }
}

.columnList {
  display: flex;
  gap: 18px;
  padding-right: 20px;
  margin-right: 18px;
}
