/* 
=====  ОСНОВНИЙ СКРОЛ  =====
? Перенести в головні стилі: */

/*body:focus {
  scrollbar-color: transparent transparent;
}

 ::-webkit-scrollbar {
  width: 0px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #161616;
  border-radius: 12px;
} */

.section {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  height: calc(100vh - 60px);
  background-color: #1f1f1f;
  /* padding: 14px 8px 36px 20px; */
  overflow: auto;
}

/* @media (min-width: 375px) and (max-width: 767px) {
  .section {
    width: 375px;
  }
} */

@media (min-width: 768px) {
  .section {
    height: calc(100vh - 68px);
  }
}

/* @media (min-width: 768px) and (max-width: 1439px) {
  .section {
    width: 768px;
  }
} */

/* @media (min-width: 1440px) {
  .section { */
/* width: calc(100% - 260px); */
/* padding: 14px 24px 28px 24px; */
/* margin: 0;
    right: 0;
    position: absolute; */
/* }
} */

.section::-webkit-scrollbar {
  width: 0px;
  height: 12px;
  border-radius: 12px;
  background-color: #161616;
}

.section::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
}

/*  */

.container {
  /* min-width: 320px;
  height: calc(100vh - 60px);
  background-color: #1f1f1f; */
  /* padding: 14px 8px 36px 20px; */
  padding: 14px 8px 30px 20px;
  /* overflow: auto; */
}

/* @media (min-width: 375px) and (max-width: 767px) {
  .container {
    width: 375px;
  }
} */

/* @media (min-width: 768px) {
  .container {
    height: calc(100vh - 68px);
  }
} */

@media (min-width: 768px) and (max-width: 1439px) {
  .container {
    /* width: 768px; */
    /* padding: 20px 32px 64px 32px; */
    padding: 20px 32px 58px 32px;
  }
}

@media (min-width: 1440px) {
  .container {
    /* width: calc(100% - 260px); */
    padding: 14px 24px 28px 24px;
    /* margin: 0;
    right: 0;
    position: absolute; */
  }
}

/* .settingsWrapper {
  display: flex;
  justify-content: flex-end;
} */

.activeSettingsWrapper {
  /* max-width: calc(100% - 12px); */
  margin-bottom: 39px;
  display: flex;
  justify-content: space-between;
}

/* @media (min-width: 375px) and (max-width: 767px) {
  .activeSettingsWrapper {
    max-width: 334px;
  }
} */

@media (min-width: 768px) and (max-width: 1439px) {
  .activeSettingsWrapper {
    /* max-width: 704px; */
    margin-bottom: 26px;
  }
}

@media (min-width: 1440px) {
  .activeSettingsWrapper {
    /* max-width: 1132px; */
    margin-bottom: 10px;
  }
}

.title {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fff;
}

@media (min-width: 768px) {
  .title {
    font-size: 18px;
  }
}

.columnListWrap {
  display: flex;
}

.columnList {
  display: flex;
  gap: 18px;
  padding-right: 20px;
  margin-right: 18px;
}

/* .columnListAdded { */
/* display: flex; */
/* } */

/* .mainContentWrapper {
  height: 100%;
  display: flex;
  align-items: center;
} */

/* .text {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  margin: 0 auto;
  line-height: 16px;
}

@media (min-width: 768px) {
  .text {
    width: 486px;
    font-size: 14px;
    line-height: 18px;
  }
}

.accentText {
  color: #bedbb0;
} */
