.header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 14px 20px;

  background-color: var(--dark-header);

  color: var(--text-white);

  @media screen and (min-width: 768px) {
    height: 68px;
    padding: 18px 32px;
  }

  @media screen and (min-width: 1440px) {
    padding: 18px 24px;
    justify-content: flex-end;
  }
}

.light {
  background-color: var(--light-header);
  color: var(--text-black);
}

.violet {
  background-color: var(--white-header);
  color: var(--text-black);
}

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  /* width: 24px;
  height: 24px; */

  @media screen and (min-width: 1440px) {
    display: none;
  }
}

.svg {
  width: 24px;
  height: 24px;
  /* fill: #161616; */
  stroke: #fff;

  @media screen and (min-width: 768px) {
    width: 32px;
    height: 32px;
  }
}

.svg.light {
  stroke: var(--text-black);
}

.svg.violet {
  stroke: var(--text-black);
}

.svgTheme {
  width: 16px;
  height: 16px;
  fill: var(--text-black);
  stroke: var(--text-dark-grey);
}
.svgTheme.light {
  fill: var(--light-header);
  stroke: var(--text-dark-grey-08);
}

.svgTheme.violet {
  fill: var(--white-header);
  stroke: var(--text-dark-grey-08);
}

.active {
  transform: rotate(180deg);
}

.wraperUser {
  display: flex;
  align-items: center;
  gap: 14px;
}

.wrapbtnTheme {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;

  color: var(--text-dark-grey);

  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
}

.wrapbtnTheme.light {
  color: var(--text-dark-grey-08);
}
.wrapbtnTheme.violet {
  color: var(--text-dark-grey-08);
}

.btnTheme {
  font-weight: 500;
  font-size: 14px;
  border: none;
  background-color: transparent;

  /* color: #ffffffcc; */

  text-align: center;
  cursor: pointer;
}
