.loaderWrap {
  height: 100vh;
}

.wrapper {
  background-color: var(--background-grey);
  height: 100vh;
}

.wrapper.light {
  background-color: var(--background-light);
}

.wrapper.violet {
  background-color: #ecedfc;
}

@media (min-width: 1440px) {
  .wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.inner {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1440px) {
  .inner {
    width: calc(100% - 260px);
  }
}
