.wraper {
  position: absolute;

  top: 34px;
  left: 0;
  padding: 18px;
  padding-right: 28px;
  background-color: var(--dark-modal);
  border-radius: 5px;

  border: 1px solid;
  border-color: var(--accent-light);

  box-shadow: 0 4px 16px 0 rgba(17, 17, 17, 0.1);

  @media screen and (min-width: 768px) {
    top: 42px;
  }
}
.dark.current {
  color: var(--accent-light);
}

.light {
  background-color: var(--light-modal);
  color: var(--text-black);
}

.wraper.light {
  border: 1px solid;
  border-color: var(--accent-light);
}

.light.current {
  color: var(--accent-light);
}

.violet {
  background-color: var(--light-modal);
  color: var(--text-black);
}
.wraper.violet {
  border: 1px solid;
  border-color: var(--accent-violet-light);
}

.violet.current {
  color: var(--accent-violet-dark);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #ffffffcc;
}
.itemTheme {
  cursor: pointer;

  /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

/* .itemTheme:hover {
  color: #bedbb0;
}
.itemTheme.violet.current:hover {
  color: #5255bc;
} */

.item:not(:last-child) {
  margin-bottom: 4px;
}
