.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #121212;
  z-index: 10;

  width: 225px;
  height: 100vh;
  padding: 14px;
  padding-bottom: 80px;
  text-align: left;
  color: #fff;
}

@media screen and (max-width: 1439px) {
  .sidebar{
    display: none;
  }

    .sidebar.visible {
      display: flex;
        position: absolute;
          top: 0;
          left: 0;
          z-index: 101;
    }
}

/* overley for sidebar */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent black */
  z-index: 100;
  /* Ensure it's above other content */
}

.text {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 8px;
}

.createBox {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  padding: 14px 0;
  margin-bottom: 40px;
}

.createText {
  display: block;
  width: 76px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fff;
}

.createBtn {
  width: 40px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #BEDBB0;
  border-radius: 5px;
}

.createBtn:hover {
background: #9DC888;
}

.iconPlus{
  stroke: #121212;
}

/* скинути стилі кнопок */
button {
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

/* Позиціонувати абсолют */
.logoutBtn {
  display: flex;
  gap: 14px;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  position: absolute;
  left: 24px;
  bottom: 24px;
}

.iconLogout{
  stroke: #BEDBB0;
  fill: none;
}

.logoutBtn:hover .iconLogout{
  stroke: #9DC888;
}
