.button {
  width: 100%;
  padding: 14px 0;
  background-color: #121212;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 8px;
  border: none;
}

@media (min-width: 375px) {
  .button {
    width: 335px;
  }
}

.icon {
  background-color: white;
  stroke: #121212;
  border-radius: 6px;
}

.text {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fff;
}
