.welcomeWrapper {
  background: linear-gradient(180deg, #ffffff 0%, #ffffff, 25%, #bedbb0 92.19%);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-width: 320px;
}
.welcomeTitleWrapper {
  padding-top: 211px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.welcomeSvgWrapper {
  display: flex;
  justify-content: center;
  gap: 14px;
}
.welcomeTitle {
  font-weight: 600;
  font-size: 28px;
  letter-spacing: -0.04em;
  color: #161616;
}
.welcomeText {
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #161616;
  width: 280px;
  margin: 0 auto;
  margin-top: 24px;
}
.welcomeImg {
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
}

@media screen and (min-width: 375px) {
  .welcomeText {
    min-width: 335px;
  }
}

@media screen and (min-width: 768px) {
  .welcomeTitleWrapper {
    padding-top: 293px;
    gap: 24px;
  }
  .welcomeTitle {
    font-size: 40px;
    letter-spacing: -0.04em;
  }
  .welcomeText {
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    min-width: 473px;
  }
}

@media screen and (min-width: 1140px) {
  .welcomeTitleWrapper {
    padding-top: 166px;
    gap: 24px;
  }
  .welcomeText {
    margin-top: 26px;
  }
  .navbar {
    margin-top: 46px;
  }
}
