.loaderWrap {
  height: 100vh;
}

.section {
  height: calc(100vh - 62px);
  background-color: #1f1f1f;
  padding: 14px 20px;
}

.section.dark {
  background-color: #1f1f1f;
}

.section.light {
  background-color: #f6f6f7;
}

.section.violet {
  background-color: #ecedfc;
}

@media (min-width: 768px) {
  .section {
    height: calc(100vh - 70px);
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .section {
    padding: 20px 32px;
  }
}

@media (min-width: 1440px) {
  .section {
    padding: 14px 24px;
  }
}

.settingsWrapper {
  display: flex;
  justify-content: flex-end;
}

.textWrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  line-height: 16px;
}

.text.dark {
  color: rgba(255, 255, 255, 0.5);
}

.text.light,
.text.violet {
  color: rgba(22, 22, 22, 0.7);
}

@media (min-width: 375px) and (max-width: 767px) {
  .text {
    width: 335px;
  }
}

@media (min-width: 768px) {
  .text {
    width: 486px;
    font-size: 14px;
    line-height: 18px;
  }
}

.link {
  color: #bedbb0;
  cursor: pointer;
}

.link.dark,
.link.light {
  color: #bedbb0;
}

.link.violet {
  color: #5255bc;
}
